body {
    width: 100%;
    height: 100vh;
    font-family: HanziPen TC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
 }
 .container {
    padding: 6rem;
    background-image: url(../img/seite1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.179) ;
 }

 .done {
    text-decoration: line-through 4px;
  }
